@charset "UTF-8";
*{
    margin:0;
    padding: 0px;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*-----------------------------------------------------------------Estilo do menu----------------------------------------*/

nav#menu {
    background:#1C1C1C; 
}
nav#menu li{
    list-style: none;
}
nav#menu li .negrito{
    color: fff;
	font-size:25px;
}
nav#menu ul li{
    display: inline-block;
	
}
nav#menu ul li a{
    padding: 10px 20px;
    display: block;
    color: #A4A4A4;
    text-decoration: none;
}
nav#menu ul li a:hover{
    color:#fff;
 }
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------subtitulo---------------------------------------------------------------*/
 .subtitulo {
    padding: 200px;   
    font-size: 100px;
    font-family: Arial Narrow, sans-serif;
    text-align: center;
	color:#fff;
	background-image:url(../../Pictures/Fortnite.jpg);
	whith:auto;
	height:auto;
 }
 /*---------------------------------------------------------------------------------------------------------------------------*/
 /*----------------------------------------------------footer rodaoe----------------------------------------------------------*/
footer{
    background-color:#1C1C1C;
	text-align:center;
}
footer ul li{
	display:inline-block;
}
footer ul li a{
	padding:10px 5px;
	display:block;
	color:#A4A4A4;
	text-decoration:none;
}

